@import '../../index.scss';

.chart-page {
    align-items: center;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 1em;

    .container {
        background-color: white;
        border-radius: 10px;
        max-width: 800px;
        padding: 0.5em;
        width: 100%;
    }

    .top-section__grid {
        display: grid;
        grid-template-columns: 40% 60%;
        margin: .5em 0;
    }

    @media (min-width: 425px) {
        .container {
            padding: 1em 1.5em;
        }
    }
}

// .chart__link {
//     position: absolute;
//     top: 10px;
//     left: 10px;
// }